body {
    height: 100%;
    overflow: hidden;
}

#img {

    height: 150px;
}

#houseOne {
    top: 400px;
    left: 250px;
    z-index: -2;
    position: fixed;
    
}

#houseTwo {
    top: 400px;
    left: 375px;
    z-index: -2;
    position: fixed;
}

#houseThree {
    top: 400px;
    left: 800px;
    z-index: -2;
    position: fixed;
}


.skilt{display: none;}
#skiltOne {
    top: 480px;
    left: 300px;
    position: fixed;
    z-index: -1;
    display: none;
}

#skiltTwo {
    top: 480px;
    left: 650px;
    position: fixed;
    z-index: -1;
    display: none;
}

#skiltThree {
    top: 480px;
    left: 950px;
    position: fixed;
    z-index: -1;
    display: none;
}



#ikon {
    position: relative;
    overflow: hidden;
    animation: ikon 40s linear infinite;
    top: 500px;
}




@keyframes ikon {
    from {
        left: -240px;
    }

    to {
        left: 1350px;
    }
}