@font-face {
    font-family: 'Avenir';
    src: url(Avenir\ Roman.otf);
  }

body {
    height: 100%;
    overflow: hidden;
    background-image: url(img/Background.jpg);
    background-size: 100%;
background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}


.house {
    bottom: 150px;
    z-index: -2;
    position: absolute;
}

#houseOne {
    left: 10%;
}

#houseTwo {
    left: 35%;
}
#houseTwo img{width: 50%;}

#houseThree {
    left: 54%;
    bottom:240px;
}

#houseFour {
    left:75%;
}



.skilt {
    position: absolute;
    top: 480px;
    z-index: -1;
    display: none;
    text-align: center;
}

.skilt img {
    width: 150px;
    height: auto;
    display: inline-block;
}

#skiltOne {
    left: 10%;
}

#skiltTwo {
    left: 35%;
}

#skiltThree {
    left: 58%;
}

#skiltFour {
    left: 75%;
}



#bus {
    position: absolute;
    overflow: hidden;
    animation: ikon 35s linear infinite;
    bottom: 0.5%;
}

#bus img {height: 150px;}


@keyframes ikon {
    from {
        left: -240px;
    }

    to {
        left: 1350px;
    }
}



#weatherAarhus, 
#weatherAalborg, 
#weatherEsbjerg, 
#weatherKolding {
    position: absolute;
    top: 10%;
    left:20%;
    font-family:'Avenir', sans-serif; 
}

 .weatherInfo {
    position: absolute;
} 
