body {
    height: 100%;
    overflow: hidden;
}

#img {

    height: 150px;
}

#hus{width: 120px;
height: 120px;
background-color: red;
top: 400px;
left: 800px;
z-index: -1;
position: fixed;}


#ikon {
    position: relative;
    overflow: hidden;
    animation: ikon 40s infinite;
    top: 500px;
    animation-timing-function: linear;
}




@keyframes ikon {
    from {
        left: -220px;
    }

    to {
        left: 1350px;
    }
}
